@use '../../helpers' as h;

.modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: h.rem(20) h.rem(10);
    background-color: rgba(15, 10, 29, 0.98);
    @include h.position(fixed, 0, 0, 0, 0);
    z-index: 999;
    overflow-y: scroll;

    @include h.breakpoint-down(medium) {
        
        padding: 0;
    }

    &-inner {
        margin: auto;
        @include h.breakpoint-down(medium) {
            @include h.position(absolute);
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }

    button.close {
        position: absolute;
        top: h.rem(13);
        right: h.rem(13);
        background-color: transparent;
        border: none;
        border-radius: h.rem(40);
        transition: background-color .2s;
        @include h.breakpoint-down(medium) {
            position: fixed;
        }

        &:hover {
            background-color: thistle;
        }
    }
}

.show {
    display: flex;
}